*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    -wekit-font-smoothing: antialiased;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.comment__box{
    list-style-type: none;
    padding: 0;

}

.comment__box .comment h6 {
    font-weight: 800;

}

p{
    font-size: 16px;
}